[run]
parallel = true
concurrency = multiprocessing, thread
sigterm = true
branch = True
source = src

[paths]
source =
    src

[report]
omit =
    tests/*
    */__init__.py
show_missing = True

[xml]
output = coverage.xml